body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.container{
    width: 300px;
    height: 450px;
    
      background-color:#F3DA0C;
      border: 2px ;
box-sizing:box;
      padding: 50px;
      border-radius: 10px;
      margin-top: auto;
      margin-bottom: auto;
     
}
h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

form {
    max-width: 500px;
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
